.breadcrumb {
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;

  $colorOut: #0f0;
  $colorOver: #0ff;

  .primary.active:after, .primary:hover:after {
    background: $colorOver;
    background: linear-gradient(135deg, $colorOver, #000);
  }

  .cr-single { padding-right: 20px; }
  .cr-0, .cr-1, .cr-2 { font-weight: bold; }
  .cr-0 { font-size: 150%; width: 90px; .icon { margin-right: 5px; } }
  .cr-1 { font-size: 120%; }
  .cr-2 { font-size: 110%; }


  li {
    --bgColor: #f00;
    --bgColorHover: #f80;

    transform-style: flat;

    background: var(--bgColor);
    background: linear-gradient(180deg, var(--bgColor), #333);

    &:after {
      transform-style: flat;
      background: var(--bgColor);
      background: linear-gradient(135deg, var(--bgColor), #333);
    }

    /*hover/active styles*/
    &.active, &:hover {
      background: var(--bgColorHover);
      background: linear-gradient(180deg, var(--bgColorHover), #333);
    }

    &.active:after, &:hover:after {
      background: var(--bgColorHover);
      background: linear-gradient(135deg, var(--bgColorHover), #333);
    }
  }
}