body {
  color: #222;
}

@mixin debug() {
  background: rgba(255, 0, 0, 0.25);
}

#top-bar {
  font-size: 120%;
  position: absolute;
  display: block;
  width: 100%;
  height: 40px;
  //padding: 10px;
  background: #777;
  margin-bottom: 2px;
}

#menu-bar {
  height: 100%;
  color: #ddd;
  text-shadow: 1px 1px 1px #000;

  li {
    @include vbox();
    float:left;
    padding: 0 15px 0 15px;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
    cursor: pointer;
  }
}

#right-bar {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  display: inline-block;
  @include debug();

  li {
    @include vbox();
    float: right;
    padding: 0px 10px;
  }
}

#master {
  position: absolute;
  top: 40px;
  padding: 10px;
}

#mode-selector {
  position: absolute;
  width: 600px;
  height: 400px;
  margin: auto 0px;
  background: #888;
  @include border-radius(10px);
  border: solid 2px #222;
}