// .drive-letter {
  
// }

.favorites, .select {
  .first {
    width: 100px;
    text-align: left;
  }

  .btn {
    font-size: 80%;
    //text-shadow: none;
  }

  margin-bottom: 5px;

  .list, li {
    display: inline-block;
    vertical-align: middle;
  }

  .list {
    white-space: nowrap;
    background: #ffffff22;
    //border: solid 1px #000;
    border-radius: 5px;
    padding: 3px 8px;
  }

  .fav-selected * {
    text-shadow: 4px 4px 2px #fff3 !important;
  }
}

.file-explorer {
  display: block;
  //border-radius: 10px;
  border: solid 1px #333;
  background: #fff;
  color: #00c;
  font-size: 80%;
  overflow: auto;
  height: 300px;
  $margin: 1px;

  li {
    padding: 0px 2px 4px 2px;
    margin-bottom: $margin;
  }

  input[type=checkbox] {
    transform: scale(1.25);
  }
}

.popup-file-browser {
  width: 400px;

  .button-bar {
      display:block;
      padding: 10px;
  }
}