/*************/
/* SHORTCUTS */

body, html {
  color: #222;

  --bgColor: #f00;
  --bgColorHover: #faa;
  --bgColorLight: #f88;
  --bgColorDark: #a77;
}

.outer {}
.inner { padding: 10px; }
.table { display: table; width: 100%; height: 100%; }
.pointer { cursor: pointer; }
.noclick { pointer-events: none; }
.box-shadow { box-shadow: 0px 2px 16px #000; }
.init-hidden { display: none !important; }
.fullview { width: 100vw; height: 100vh; }
.fullsize { width: 100%; height: 100%; }
.fullwidth { width: 100%; }
.fullheight { height: 100%; }
.page-bg { background: linear-gradient(180deg, #fff 30%, var(--bgColorLight), var(--bgColor)); }
.inline-block { display: inline-block; }
.block { display: block; }
.left { text-align: left; }
.right { text-align: right; }
.width50 { width: 49%; }
.top-left { top:0px; left: 0px;}
.grid { display: grid; }
.grid-last-col { grid-column: -2 / -1; }
.grid-last-row { grid-row: -2 / -1; }
.grid-full-width { grid-column: 1 / -1; }
.grid-full-height { grid-row: 1 / -1; }
.grid-center-center {
  display: grid;
  justify-content: center;
  align-content: center;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000;
}

.bold { font-weight: bold; }

.code-javascript {
  line-height: 120%;
  font-family: monospace;
}

.modal-shadow {
  position: absolute;
  background: rgba(0,0,0,0.5);
}

.grid-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.spinner {
  //Fix for spinner's origin offset:
  transform-origin: 50% 49.5%;
}

/////////////////////////////////////

@mixin debug() { background: rgba(255, 0, 0, 0.25); }
.debug { @include debug(); }

/* SHORTCUTS */
/*************/