@import "shortcuts.scss";
@import "bpa-components.scss";
@import "file-browser.scss";

body {
  --clr-main: #aaa;
  --clr-main-dark: #666;
  --clr-main-lite: #fff;
  --clr-prev: #aaa;
  --clr-prev-dark: #666;
  --clr-prev-lite: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  transform: rotateZ(0deg);
}

.app {
  background: linear-gradient(180deg, var(--clr-main-lite), var(--clr-main) 60%, var(--clr-main-dark));
}

.curtain {
  background: linear-gradient(180deg, var(--clr-prev-lite), var(--clr-prev) 60%, var(--clr-prev-dark));
}

.main-grid {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px auto 50px;
}

.top-bar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column: 1 / -1;

  align-items: center;
  background:linear-gradient(180deg, unquote('#aaaa'), unquote('#fff8'));
  
  & > * {
    white-space: nowrap;
    padding: 0px 14px;
  }

  .btn {
    text-align: center;
    font-weight: bold;
    margin-right: 4px;
    padding: 6px;
    letter-spacing: 0.5px;
  }

  .my-title {
    line-height: 100%;
    cursor: pointer;
  }

  .menu-buttons {
    white-space: nowrap;
    color: #f00 !important;
  }
}

.left-buttons {
  display: inline-block;
  padding: 0;
  margin: 0;
  //justify-self: start;
}

.right-buttons {
  justify-self: end;
  //border: solid 1px #000;
}

.main {
  grid-column: 1 / -1;
  width:100%;
  height:100%;
}

.footer {
  color: #fff;
  grid-column: 1 / -1;
  padding: 15px;
  background: linear-gradient(180deg, unquote('#fff8'), unquote('#aaaa'));
}

.my-view {
  display: grid;
}

/////////////////////////////////////

.projects {
  padding: 5px;
  //background: #faa;
  grid-template-columns: repeat(3, 1fr);
  
  .btn {
    margin-bottom: 5px;
  }

  .field, .b-form-select, .label {
    white-space: nowrap;
    display: inline-block;
  }

  .b-form-select {
    width: auto;
  }

  .field {
    margin-bottom: 5px;
  }

  .label {
    text-align: right;
    width: 90px;
    font-weight: bold;
  }

  .ad-preview {
    grid-column: 1 / -1;
    justify-self: center;
    overflow: hidden;

    iframe {
      overflow: hidden;
      background: #222;
    }
  }

  .timeline-slider {
    display: grid;
    padding: 0px 5px;
    grid-template-columns: 40px 40px 5fr;
    align-items: center;
    // .btn, .b-progress {
    //   //display: inline-block;
    // }

    .b-progress {
      box-shadow: 1px 1px 2px #0008;
    }

    .progress-bar { transition: width 0s; } 
  }

  .client-header {
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 80%;
    text-shadow: 0 0 3px unquote('#0004');
    background: linear-gradient(45deg, unquote('#aaf8') 50%, unquote('#aaf0'));
  }

  .campaign-header {
    color: #669;
    font-weight: bold;
    padding-left: 15px;
    font-size: 80%;
    background: linear-gradient(170deg, unquote('#faa0') 20%, unquote('#faa4') 70%)
  }

  .project-header button {
    letter-spacing: -0.5px;
    font-size: 80%;
  }

  .dropdown-ad {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.my-title {
  color: #fff;
  
  .icon {
    display: inline-block;
  }
}

.popup {
  //min-width: 250px;
  display: grid;
  grid-template-rows: 50px auto 40px;
  padding:5px;
  border-radius: 10px;
  background: linear-gradient(180deg, #aaa 50%, #bbb);
  box-shadow: 0px 8px 16px #00000066;

  .header-container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 50px;
    align-content: center;
    justify-content: center;
    background: linear-gradient(180deg, #fff4, #2222);
    border-radius: 10px;
    padding: 0px 5px;
  }

  .heading {
    text-shadow: 1px 1px 1px #fff9;
    text-align: center;
    font-size: 140%;
    font-weight: bold;
    padding: 1px 15px;
    
  }

  .close {
    justify-self: end;
    padding: 4px 10px;
  }
}

.rotating .fa {
  animation-duration: 2s;
  animation-name: anim-rotating;
  animation-iteration-count: infinite;
}

.current-project {
  text-shadow: none;
  color: #000;
}

@keyframes anim-rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

.popup-project-selector {
  min-width: 400px;
  min-height: 400px;
}