@import "shortcuts.scss";

.app {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #eee;
}

$top: 60px;
$debug-alpha: 0.09;

.top-bar {
  position: absolute;
  display: inline-block;
  left: 0px;
  right: 0px;
  width: auto;
  height: $top;
  background: rgba(#f00, $debug-alpha);

  .inner {
    display: inline-block;
    padding: 12px;
  }

  .btn {
    margin-right: 5px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 2px 16px rgba(#000,0.6);
  }
}

.main {
  position: absolute;
  display: block;
  left:0px;
  right:0px;
  top: $top;
  bottom: 0px;
  padding: 15px;
  background: rgba(#00f, $debug-alpha);
}

/////////////////////////////////////


.btn {
  //text-shadow: 0px 1px 0px #aaa, 0px -1px 0px #aaa, 0px 1px 1px #aaa;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  background: var(--color-normal);

  &:hover {
    //text-shadow: 0px 1px 1px #222, 0px -1px 1px #222, 0px 1px 2px #222;
    color: #eee;
    background: var(--color-over);
  }
}

.my-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
  line-height: 100%;
}

.open-project {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0px 8px 16px rgba(#000, 0.5);
}