@import "shortcuts.scss";
@import "bpa-components.scss";
@import "file-browser.scss";

body {
  --clr-main: #aaa;
  --clr-main-dark: #666;
  --clr-main-lite: #fff;
  --clr-prev: #aaa;
  --clr-prev-dark: #666;
  --clr-prev-lite: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  transform: rotateZ(0deg);
}

.app {
  background: linear-gradient(180deg, var(--clr-main-lite), var(--clr-main) 60%, var(--clr-main-dark));
}

.curtain {
  background: linear-gradient(180deg, var(--clr-prev-lite), var(--clr-prev) 60%, var(--clr-prev-dark));
}

.main-grid {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px auto 50px;
}

.top-bar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column: 1 / -1;

  align-items: center;
  background:linear-gradient(180deg, unquote('#aaaa'), unquote('#fff8'));
  
  & > * {
    white-space: nowrap;
    padding: 0px 14px;
  }

  .btn {
    text-align: center;
    font-weight: bold;
    margin-right: 4px;
    padding: 6px;
    letter-spacing: 0.5px;
  }
}

.main {
  grid-column: 1 / -1;
  width:100%;
  height:100%;
}

.footer {
  color: #fff;
  grid-column: 1 / -1;
  padding: 15px;
  background: linear-gradient(180deg, unquote('#fff8'), unquote('#aaaa'));
}

.extra-buttons {
  justify-self: end;
  //border: solid 1px #000;
}

.my-view {
  display: grid;
}

/////////////////////////////////////

.projects {
  padding: 5px;
  //background: #faa;
  grid-template-columns: repeat(3, 1fr);
  
  .btn {
    margin-bottom: 5px;
  }

  .field, .b-form-select, .label {
    white-space: nowrap;
    display: inline-block;
  }

  .b-form-select {
    width: auto;
  }

  .field {
    margin-bottom: 5px;
  }

  .label {
    text-align: right;
    width: 90px;
    font-weight: bold;
  }

  .ad-preview {
    grid-column: 1 / -1;
    justify-self: center;
    overflow: hidden;

    iframe {
      overflow: hidden;
      background: #222;
    }
  }

  .timeline-slider {
    display: grid;
    padding: 0px 5px;
    grid-template-columns: 40px 40px 5fr;
    align-items: center;
    // .btn, .b-progress {
    //   //display: inline-block;
    // }

    .b-progress {
      box-shadow: 1px 1px 2px #0008;
    }

    .progress-bar { transition: width 0s; } 
  }

  .dropdown-ad {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
.my-title {
  color: #fff;
  
  .icon {
    display: inline-block;
  }
}

.popup {
  padding:10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #aaa 50%, #bbb);
  box-shadow: 0px 8px 16px #00000066;

  .heading {
    font-size: 140%;
    line-height: 30px;
  }

  .close {
    padding: 4px 8px;
  }
}

.rotating .fa {
  animation-duration: 2s;
  animation-name: anim-rotating;
  animation-iteration-count: infinite;
}

@keyframes anim-rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}